
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 10%;
    --foreground: 210 40% 98%;

    --card: 240 70% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 240 70% 13%;
    --popover-foreground: 210 40% 98%;

    --primary: 207 44% 49%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 64% 30%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 70% 13%;
    --muted-foreground: 240 5% 65%;

    --accent: 207 44% 49%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 70% 18%;
    --input: 240 70% 18%;
    --ring: 207 44% 49%;

    --chart-1: 207 44% 49%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --radius: 0.5rem;

    --sidebar-background: 240 70% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 44% 49%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 70% 13%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 70% 18%;
    --sidebar-ring: 207 44% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
